html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url("../images/login_bg.jpg") no-repeat center;
    background-size: cover;
}
.loginAndRegBox {
    width: 400px;
    height: 310px;
    background-color: rgb(238, 238, 238);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200px,-155px);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
}
.title-box {
    height: 60px;
    background: url('../images/login_title.png') no-repeat center;
}
.reg-box {
    display: none;
}
.layui-form {
    padding: 0px 30px;
}
.links {
    float: right;
}
.links a {
    font-size: 14px;
}
.login-box {
    margin-top: 30px;
}
.layui-form-item {
    position: relative;
}
.layui-form-item input {
    padding-left: 30px;
}
.layui-form-item i {
    position: absolute;
    top: 10px;
    left: 10px;
}